@font-face{
font-family: myFont;
src:url(super.ttf)
}
body{

font-family: 'Bebas Neue', sans-serif;
background-image: linear-gradient(#743967,#FF716D,#985A8A,#33001C);

}
header{
background-image: url("hi.png");
background-repeat: no-repeat;
background-size: cover;
border-radius: 20px 30px 20px 20px;
padding: 30px;
text-align: center;

}

h1{
font-size: 90px;
font-family: myFont;
color: #B2335E; 
letter-spacing:10px;

}

header img{
border-radius: 174px;
padding: 10px;
width: 300px;
}

.content{
max-width:1350px;
margin: 0 auto;
padding: 0 20px;
color:white; 
font-size:25px;
text-align: justify;
border-radius: 20px;
box-shadow: 0px 0px 50px #F4E2E8;
background-image: linear-gradient(#A10C1D,#743967,#FF716D,#985A8A,#33001C);
}

.character-section{
max-width:1000px;
margin: 0 auto;
display: flex;
column-gap: 25px;
justify-content: center;
margin: 50px auto;
align-items: center;
flex-direction:row;
}

h2{
display:inline-block;
border-bottom:2px solid white;
margin-top: 30px;
padding:3px;
letter-spacing:6px;
}

.capt{
font-size: 23px;
max-width: 80%;
display: block;
margin: 0px auto;
color:white;
}

}
p.caption{
font-size: 20px;
margin-top: 0px;
}

.parts{
font-size: 23px;
max-width: 80%;
display: block;
margin: 0px auto;
text-align: center;
}

.box{
margin-top: 0px;
}

img.big-image{

max-width: 80%;
display:block;
margin-top:10px;
margin-left:  auto;
margin-right:  auto;
border-radius: 40px;
box-shadow: 0px 0px 20px red;
padding:5px;
} 

ul{
list-style: none;
padding: 0;
margin: 0;

}

.pic-containers {

display:flex;
flex-direction: row;
justify-content: center;
column-gap:30px;
}

.circle-image {
width: 80px;
height: 80px;
size: cover;
border-radius: 50%;
border: 4px solid white;
padding:6px;
}

a {
    color: #C41E3A;
    text-decoration: none;
}

footer{

padding: 23px 20px;
background-color:#F4E2E8;
}

footer ul{
text-align: center;
}

footer ul li{
display: inline-block;
margin: 0 5px;
}
#150101
#DFA2E5
#FF716D
#F4E2E8
background-image: linear-gradient(#A10C1D,#743967,#FF716D,#985A8A,#33001C);
background-color:#DFA2E5;
margin: 0px auto 80px 20px;	
